html {
    height: 100%;
    position: fixed;
  }
  
body {
    margin: 0;
    position: fixed;
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
}

.upload-btn {
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
}

.overlay {
    position: absolute;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 10;
  }
  
.title {
    font-family: 'Apple Garamond', serif;
    color: azure;
    font-size: 100px;
    text-align: center;
    margin-bottom: 60px;
    }

.pdf-grid-container {
        overflow-y: auto;
        padding: 20px;
        max-height: 100vh;
      }

.enter-btn {
    color: white;
    background-color: black;
    border: 2px solid white;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Apple Garamond', serif;
    font-size: 24px;
}

input[type="file"] {
    display: none;
}

form {
    margin: auto 0;
}

input[type="text"] {
    border: none;
    outline: none;
}

#container {
    display: block;
    width: 100%;
    height: 100vh;
    flex-direction: row;
}

.pdf-viewer {
    width: 100%;
    height: 100vh;
    display: block;
}

#chat {
    width: 100%;
}

#chat p {
    color: white;
    margin: 10px;
    padding: 10px;
    border-radius: 10px;
    width: fit-content;
    text-align: left;
    word-break: break-all;
    font-family: Roboto;
    font-size: 18px;
    font-weight: lighter;
  }
  