<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="/static/css/styles.css">
  </head>
  <body>
    <nav class="navbar" style="justify-content: right;">
      <a href="https://www.google.com" target="_blank">Try Chrome Extension</a>
      <button id="enter-btn" class="enter-btn" onclick="location.href='https://forms.gle/PzBGRsd2ynSTqUWm8'" style="margin-right: 60px; margin-top: 10px;">Sign Up</button>
    </nav>
    <div class="overlay">
      <h1 class="title">[DaRa]</h1>
      <h2 class="subtitle">Document Aided Research Assistant</h2>
      <h4> A powerful AI copilot for all deep knowledge work </h4>
      <h3> Have a conversation with <span
        class="txt-rotate"
        data-period="200"
        data-rotate='[ "a research paper.", "code documentation.", "your notes.", " a book.", "your whole library.", "anything."]'> </span> </h3>
      <div class="btn-container">
        <button id="enter-btn" class="enter-btn" onclick="location.href='app.html'">Try a free demo</button>
        <button id="enter-btn" class="enter-btn" onclick="location.href='https://forms.gle/PzBGRsd2ynSTqUWm8'">Join the waitlist</button>
      </div>
    </div>
    <script src="/static/js/index.js"></script>
  </body>
</html>
