<!DOCTYPE html>
<html>
  <head>
    <script src="static/js/script.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/docx@8.0.1/build/index.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/pdfjs-dist@3.3.122/build/pdf.min.js"></script>
    <link rel="stylesheet" href="static/css/styles.css">
  </head>
  <script>
    function toggleSidebar() {
        const sidebar = document.querySelector(".sidebar");
        sidebar.classList.toggle("active");
  }
  </script>
  <body>
    <nav class="navbar">  
      <div class="toggle-icon" style="padding-bottom: 11px;" onclick="toggleSidebar(event)">
        <span style="color: white;" >&#9776;</span>
      </div>
      <a href="/" style="justify-self: center; margin-left: 210px;
      font-family: 'Roboto', serif;
      color: azure;
      font-size: 30px;
      font-weight: 50;">[DaRa]</a>
      <div style="display: flex; flex-direction: row; justify-content: right; align-items: center;">
        <p class="logo">[DaRa]</p>
        <button id="enter-btn" class="enter-btn" onclick="location.href='https://forms.gle/PzBGRsd2ynSTqUWm8'" style="margin-right: 60px; margin-top: 10px;">Sign Up</button>
      </div>
    </nav>
    <div class="sidebar">
      <div style="margin-top: 100px; margin-left: 25px;">
        <a href="https://github.com/mukulpatnaik/researchgpt" class="option-link" style="color: lightgrey;">Github</a>
        <a href="mailto:mukulpatnaik@gmail.com" class="option-link" style="color: lightgrey;">Contact</a>
        <a href="https://chrome.google.com/webstore/detail/dara/cjballpcpneldglciedlldbkbigkpkoc/related?hl=en&authuser=0" style="color: lightgrey;" class="option-link">Chrome Extension</a>
        <!-- <span class="coming-soon">(coming soon)</span> -->

        <div class="openai-key-container" style="margin-top: 420px; display: block; text-align: center; align-items: center;">
          <label for="openai-key" style="color: lightgrey;">OpenAI Key:</label>
          <input type="text" id="openai-key" style="color: lightgray; padding: 10px; background-color: black; font: 1.4em Roboto; font-style: italic; width: 100%; border: 1px solid gray; border-radius: 15px; margin-top: 20px; margin-bottom: 20px;">
          <button id="save-openai-key" style="margin-left: 5px;">Save</button>
        </div>        
      </div>
    </div>    
    <form id='url' style="margin-top: 290px; margin-bottom: 20px; width: 100%; text-align: center;">
        <input type="text" name="pdf-url" placeholder="Enter URL" style="color: lightgray; padding: 10px; border: none; background-color: black; font: 1.4em Roboto; font-style: italic; width: 100%; text-align: center">
    </form>

    <p style="color: white; margin: 10px; /* padding: 10px; */ /* border-radius: 10px; */ /* background-color: grey; */ width: fit-content; /* max-width: 80%; */ text-align: start; overflow-wrap: break-word; /* font-style: normal; */ font-variant-caps: normal; /* font-weight: normal; */ /* font-stretch: normal; */ /* font-size: 1.2em; */ line-height: normal; font-family: Roboto;">or</p>

    <button id="open-popup-btn" class="upload-btn">Upload</button>

    <div id="popup-card" class="popup-card hidden">
      <form id="pdf-form" enctype="multipart/form-data">
        <label for="pdf-input" class="upload-btn">Upload a PDF</label>
        <input type="file" accept=".pdf" id="pdf-input"/>
      </form>
      <form id="docx-form" enctype="multipart/form-data">
        <label for="docx-input" class="upload-btn">Upload a Word Doc</label>
        <input type="file" accept=".docx,.doc" id="docx-input"/>
      </form>
      <form id="docx-form" enctype="multipart/form-data">
        <label for="txt-input" class="upload-btn">Upload .txt</label>
        <input type="file" accept=".txt,.py,.js" id="txt-input"/>
      </form>
      <div>
        <a href="https://example.com/link2" class="option-link">Integrate Google Drive</a>
        <span class="coming-soon"> (coming soon)</span>
      </div>
      <div>
        <a href="https://example.com/link3" class="option-link">Integrate Notion</a>
        <span class="coming-soon"> (coming soon)</span>
      </div>
      <div>
        <a href="https://example.com/link5" class="option-link">Upload a Powerpoint</a>
        <span class="coming-soon"> (coming soon)</span>
      </div>
      <div>
        <a href="https://example.com/link6" class="option-link">Make some notes</a>
        <span class="coming-soon"> (coming soon)</span>
      </div>
    </div>    
  </body>
</html>